<div class="col-sm-4 mt-4 ml-4">
    <h1>Payment</h1>
    <form action="/courses/store" method="POST">
        <div class="form-group">
            <label for="nameInput">Name</label>
            <input type="text" class="form-control" id="nameInput" name="name">
        </div>
        <div class="form-group">
            <label for="descriptionInput">Description</label>
            <input type="text" class="form-control" id="descriptionInput" name="description">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>