<div class="mt-10 col-5">
    <form method = "POST" action="">
        <div class="form-group">
            <label for="search-input">Search</label>
            <input type="text" name= "q" class="form-control" id="search-input" aria-describedby="emailHelp"
                placeholder="">
        </div>
         <div class="form-group">
            <label for="search-input">Gender</label>
            <select name = "gender" class="form-control" id="gender-input">
                <option value = "0">Select Gender</option>
                <option value = "0">Male</option>
                <option value = "0">Female</option>
            </select>
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>